@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --header-bg-color: #2b2c3b;
    --footer-bg-color: #333;
    --text-color: #444;
    --link-color: #fb5214;
    --notification-badge-color: #f75c5d;
    --offCanvas-bg-color: #f75c5d;
    --btn-bg-color: #f75c5d;
    --btn-text-color: #fff;
}


body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-weight: 400;
}

.customRatio {
    aspect-ratio: 3/4;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
::-webkit-scrollbar-thumb {
    background: #0005;
}